.ReactModal__Content--after-open{
    height: 40vh;
}
.parentPage{
    //background-color: red;
    padding: 0;
    >*{
        margin: 0;
    }
    height: calc(100vh - 56px);
    width: 100%;
}
#inTest{
    display: grid;
    grid-template-rows: 1fr 300px;
    
    .questionContent{
        grid-row: 1/2;
        grid-column: 1/-1;
        place-self: center;
        .questionImg{
            place-self: center;
        }
        .questionText{
            text-align: center;
            margin: 20px;
            border: 2px solid black;
            padding: 12px;
        }
        .questionText.bigText{
            font-size: 5.5rem;
            border: none;
        }
    }
    
    .btnsHolder{
        grid-row: 2/-1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .testBtn{
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            border: 2px solid black;
            display: grid;
            place-items: center;
            p{
                font-size: 3.5rem;
            }
            
        }
        .testBtn.a:only-child{
            grid-column: 1/-1;
            margin-top: 20px;
            margin-bottom: 20px;
            transform: scale(0.75);
            
        }
        .testBtn.a:not(:only-child){
            grid-column: 1/2;
            margin-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: 1px solid black;
        }
        .testBtn.b{
            grid-column: 2/-1;
            margin-left: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 1px solid black;
        }
    }
    
}
body{
    margin: 0;
}
.questionImg{
    width: 300px;
    height: 300px;
    
}